//? colors standard
// *-------------------------------------------------------------------------------------------
// standard colors 
$clr-light: #ffffff;
$clr-dark: #2F4858;

//* status
$clr-status:(
    "success": #28a745,
    "help": #17a2b8,
    "warning": #ffc107,
    "error": #b1260d
);

//? pallet
// ! If you want to optimize your UI-UX, just used 3 colours in your palette colours.

$clr-primary: #00754B;
$clr-secundary: #394B41;
$clr-third: #9CB0A4;
// etc... max 6 colours in palette
// colours shadow

$clr-shadow-low: rgba(0,0,0,0.1);
$clr-shadow-mid: rgba(0,0,0,0.7);
// *-------------------------------------------------------------------------------------------
//? fonts
